/* application styles */

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #111;
  background: #ff9800;
}

::selection {
  color: #111;
  background: #ff9800;
}

body {
  overscroll-behavior-y: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong,
b {
  font-weight: 'bolder';
}

a {
  color: #ff9800;
  text-decoration: none;
}

.MuiTimelineItem-missingOppositeContent:before {
  content: none !important;
}

.nunito {
  font-family: 'Nunito', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

.rubik {
  font-family: 'Rubik Mono One', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

.fira {
  font-family: 'Fira Mono', monospace;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.cursor {
  cursor: default;
}

.sbs {
  scroll-behavior: smooth;
}

.sel {
  user-select: text;
}

.sel-none {
  user-select: none;
}

.pe {
  pointer-events: all;
}

.pe-none {
  pointer-events: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(8px);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-22.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(22.5deg);
  }
}
