/* application styles */

@keyframes spin {
  100% { transform: rotate(360deg) }
}

@keyframes float {
  0% { transform: translateY(0) }
  25% { transform: translateY(-8px) }
  50% { transform: translateY(0) }
  75% { transform: translateY(8px) }
}

@keyframes swing {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-22.5deg) }
  50% { transform: rotate(0deg) }
  75% { transform: rotate(22.5deg) }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.cursor {
  cursor: default;
}

.sbs {
  scroll-behavior: smooth;
}

.sel {
  user-select: text;
}

.sel-none {
  user-select: none;
}

.pe {
  pointer-events: all;
}

.pe-none {
  pointer-events: none;
}
